*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover:#A52C6B;
    --color-danger:#C93847;
    --content-primary:#080B12;
    --content-secondary:#374151;
    --content-tertiary:#9CA3AF;
    --always-white:#FFFFFF;

    --border-primary:#D1D5DB;
    --border-hover:#B9C2D0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font:'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
}
.hide{
    display: none !important;
}
.container{
    width: 39rem;
    margin: 6.6rem auto 12rem;
    padding-inline: 3.2rem;
}

body{
    background-color: var(--background-primary);
    font-size: 1.6rem;
}

li{
    list-style: none;  
}

a{
    text-decoration: none;
    font: 500 1.4rem/1.6 var(--font);
}
h1{
    font: 700 2.4rem/3.2 var(--font);
}
label{
    font: 600 1.6rem/2 var(--font);
}
p{
    font: 500 1.6rem/2 var(--font);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }